---
import Slide from "../components/Slide.astro";
import Layout from "../layouts/Layout.astro";

import Type from "../components/Type.svelte";
---

<Layout title="GeorgeRNG">
    <main>
        <Slide background="linear-gradient(158deg, rgba(255,165,0,1) 0%, rgba(150,50,0,1) 90%)">
            <div class="slide-1">
                <div class="center">
                    <small>Hi there. I'm</small>
                    <h1><Type text="GeorgeRNG" speed={200} /></h1>
                </div>
                <div class="text-wrapper">
                    <p><span class="scroll">Scroll</span><span class="swipe">Swipe</span> down to see what I do.</p>
                </div>
            </div>
            <div class="pattern">

            </div>
        </Slide>
        <Slide background="#000">
            <div class="slide-2">
                <h2>What do I make stuff with?</h2>
            </div>
        </Slide>
    </main>
</Layout>

<style lang="scss">
    .swipe {
        display: none;
    }
    @media (pointer: coarse) {
        .scroll {
            display: none;
        }
        .swipe {
            display: inline;
        }
    }

    @keyframes expand {
        from {
            background-position-x: 100vw;
        }
        to {
            background-position-x: 0vw;
        }
    }

    @keyframes shadows {
        from {
            box-shadow: none;
        }
        to {
            box-shadow: 
                0px calc(-10px * 0) 0px 10px #71f79f,
                0px calc(-10px * 1) 0px 10px #1fb7c7,
                0px calc(-10px * 2) 0px 10px #0e6ba8,
                0px calc(-10px * 3) 0px 10px #330036,
                0px calc(-10px * 4) 0px 10px #210124,
            ;
        }
    }

    .slide-1 {
        color: #000000;
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 25vh;

        .center {
            margin: auto;
            text-align: center;
        }

        .text-wrapper {
            font-size: large;
            display: flex;

            background: rgb(5,0,74);
            background: linear-gradient(270deg, rgba(5,0,74,1) 0%, rgba(7,5,101,1) 58%, rgba(15,15,180,1) 95%, rgba(9,9,121,0) 100%); 

            background-clip: text;
            background-repeat: no-repeat;
            background-position-x: -100vw;
            
            animation: expand 2000ms forwards linear 1000ms;
            
            p {
                margin: auto;
                color: transparent;
                width: fit-content;
            }
        }
    }
    .slide-2 {
        width: 100%;
        height: 100%;
        h2 {
            color: #71f79f;
            font-size: min(200%,7vw);
            text-align: center;
        }
    }

    .pattern {
        width: 100%;
        animation: shadows 2000ms forwards ease-out 1000ms;
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
    }
</style>