---
import Slide from "../components/Slide.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="GeorgeRNG">
    <main>
        <Slide background="linear-gradient(158deg, rgba(255,165,0,1) 0%, rgba(150,50,0,1) 100%)">
            <small>Oh uuh... I'm</small>
            <h1>GeorgeRNG</h1>
        </Slide>
    </main>
</Layout>