---
import Slide from "../components/Slide.astro";
import Layout from "../layouts/Layout.astro";

import Type from "../components/Type.svelte";
---

<Layout title="GeorgeRNG">
    <main>
        <Slide background="linear-gradient(158deg, rgba(255,165,0,1) 0%, rgba(150,50,0,1) 90%)">
            <div class="slide-1">
                <div class="center">
                    <small>Hi there. I'm</small>
                    <h1><Type text="GeorgeRNG" speed={400} /></h1>
                </div>
                <div class="text-wrapper">
                    <p>I code stuff, scroll down to see if if you want to</p>
                </div>
            </div>
            </Slide>
    </main>
</Layout>

<style lang="scss">
    @keyframes expand {
        from {
            background-position-x: -100vw;
        }
        to {
            background-position-x: 0vw;
        }
    }

    .slide-1 {
        color: #000000;
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 25vh;

        .center {
            margin: auto;
            text-align: center;
        }

        .text-wrapper {
            font-size: large;
            display: flex;

            background: rgb(5,0,74);
            background: linear-gradient(90deg, rgba(5,0,74,1) 0%, rgba(7,5,101,1) 58%, rgba(15,15,180,1) 80%, rgba(9,9,121,0) 100%); 

            background-clip: text;
            background-repeat: no-repeat;
            background-position-x: -100vw;
            
            animation: expand 2000ms forwards linear 1000ms;
            
            p {
                margin: auto;
                color: transparent;
                width: fit-content;
                border-radius: 1em;

                box-shadow: 
                    0px calc(1em + 0.1em) 0px -1px #71f79f,
                    0px calc(2em + 0.1em) 0px -1px #1fb7c7,
                    0px calc(3em + 0.1em) 0px -1px #0e6ba8,
                    0px calc(4em + 0.1em) 0px -1px #330036,
                    0px calc(5em + 0.1em) 0px -1px #210124,
                ;
            }
        }
    }

    h1 {
        font-family: 'Courier New', Courier, monospace;
    }
</style>