---
export interface Props {
    background: string;
}

const { background } = Astro.props;
---

<section>
    <slot />
</section>

<style define:vars={{background}}>
    section {
        display: flex;
        flex-direction: column;
        background: var(--background);
        min-height: 100vh;
    }
</style>